@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-exo: "Exo 2", sans-serif;
    --font-playfair: "Rakkas", serif;
}

@layer base {
    h1 {
        @apply font-exo;
    }
}

:root {
    --font-green: #1B663E;
}

html {
    scroll-behavior: smooth;
}

/* Middle */
.custom-underline {
    position: relative;
}

.custom-underline.middle::after {
    content: "";
    positioN: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    width: 0%;
    background: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.custom-underline.middle:hover::after {
    left: 0;
    width: 100%;
}

/* Left to Right */
.custom-underline.leftRight::after {
  content: "";
  position: absolute;
  height: 1.5px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background: currentColor;
  transition: transform 0.3s ease-out;
}

.custom-underline.leftRight:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}