@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-exo: "Exo 2", sans-serif;
}

@layer base {
    h1 {
        @apply font-exo;
    }
}

:root {
    --font-green: #1B663E;
}

html {
    scroll-behavior: smooth;
}

.underline-container {
    position: relative;
    cursor: pointer;
    padding-bottom: 0.125rem;
}

.underline-container::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0%;
    height: 2.5px;
    width: 0%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    background-color: currentColor;
}

.underline-container:hover::after {
    left: 0%;
    width: 100%;
}